body {
  background-color: #f0f0f0;
  margin-bottom: 100px; /* Ajusta este valor según la altura de tu footer */
  line-height: 1.6; /* Añade más espacio entre las líneas de texto */
  cursor: url('images/puntero.png'), auto; /* Añade el cursor personalizado */
}

header, footer {
  background-color: #333;
}

.perfil {
  width: 100px;
  height: 100px;
  border: 3px solid black;
}

.proyecto, .certification {
  border: 3px solid black;
  padding: 20px; /* Añade más espaciado alrededor de las tarjetas de proyectos y certificados */
  margin: 20px; /* Añade más espaciado alrededor de las tarjetas de proyectos y certificados */
  transition: transform .2s, background-color .5s; /* Añade animación de hover y transición de color a las tarjetas de proyectos y certificados */
  box-shadow: 10px 10px 5px grey; /* Añade efecto de sombra a las tarjetas de proyectos y certificados */
}

.proyecto:hover, .certification:hover {
  transform: scale(1.02); /* Añade animación de hover a las tarjetas de proyectos y certificados */
  background-color: #f0f0f0; /* Añade animación de transición de color a las tarjetas de proyectos y certificados */
}

.proyecto a {
  color: black;
  transition: color .2s; /* Añade animación de desplazamiento suave a los enlaces de navegación */
}

.proyecto a:hover {
  color: #333; /* Añade animación de desplazamiento suave a los enlaces de navegación */
}

.proyecto p {
  margin-top: 10px;
}

hr {
  border-top: 1px solid black;
}

.mailto {
  color: #ffffff; /* Color blanco */
}

.titulo {
  font-size: 25px; /* Ajusta este valor según el tamaño de fuente que desees */
}

.certification-image {
  width: 100%; /* Asegura que la imagen del certificado se ajuste al contenedor */
  height: auto;
  border: 1px solid black; /* Añade un marco alrededor de la imagen del certificado */
}

.certification-title {
  margin-top: 10px;
}
