@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press Start 2P', cursive!important;
}

body {
  background-color: #f0f0f0;
  margin-bottom: 100px;
  line-height: 1.6;
  cursor: url('images/puntero.ico'), auto!important;
  transition: background-image 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
}

header, footer {
  background-color: #333;
}

header {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bienvenidos {
  font-size: 25px;
}

.bienvenidos.animate {
  animation: pixel-art 2s infinite;
}

.animated {
  animation: pixel-art 2s infinite;
}

@keyframes pixel-art {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0);
  }
  60% {
    transform: translateY(-5px);
  }
  70% {
    transform: translateY(5px);
  }
  80% {
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.perfil {
  width: 250px;
  height: 250px; /* Asegúrate de que la altura sea igual al ancho para obtener una forma cuadrada */
  border: 3px solid #333;
  margin: 20px auto;
  display: inline-block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.perfil:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7); /* Agregado sombreado al hacer hover */
}

.proyecto,.certification {
  border: 3px solid black;
  padding: 20px;
  margin: 20px;
  transition: transform 0.2s, background-color 0.5s;
  box-shadow: 10px 10px 5px grey;
  cursor: url('images/puntero.ico'), auto!important;
}

.proyecto:hover,.certification:hover {
  transform: scale(1.02);
  background-color: #f0f0f0;
}

.proyecto a {
  color: black;
  transition: color 0.2s;
}

.proyecto a:hover {
  color: #333;
}

.proyecto p {
  margin-top: 10px;
}

hr {
  border-top: 1px solid black;
}

.mailto {
  color: #ffffff;
}

.titulo {
  font-size: 25px;
}

.certification-image {
  width: 100%;
  height: auto;
  border: 1px solid black;
  cursor: url('images/puntero.ico'), auto;
}

.certification-title {
  margin-top: 10px;
}

section {
  margin-bottom: 40px; /* Agrega un margen de 40px entre las secciones */
}